:root{
    --dark-clr: rgb(0,0,0);
    --white-clr: rgb(255,255,255);
    --otzyv-clr: rgb(41, 52, 78);
    --footer-clr: #AD2C86;
    --events-clr: #19142A;
  }
  
  html{
      box-sizing: border-box
    }
    
    *,
    *::after,
    *::before{
      box-sizing: inherit
    }
    
    ::-webkit-scrollbar { /* chrome based */
      width: 0px;  /* ширина scrollbar'a */
      background: transparent;  /* опционально */
    }
    
    html {
      -ms-overflow-style: none;  /* IE 10+ */
      scrollbar-width: none; /* Firefox */
    }
    
    a{
      text-decoration: none;
      color: inherit;
    }
    
    .container{
      max-width: 1920px;
      margin: 0 auto;
    }
    
    body {
      display: block;
      margin: 0px;
    }
    
    ul{
      list-style:none;
    }
    
    .header-line{
      display: flex;
      min-height: 15vh;
      justify-content: space-between;
      align-items: center;
      background-color: blueviolet;
      max-height: 15vh;
    }
    
    .header-logo{
      margin-bottom: 15px;
      margin-top: 15px;
      margin-left: 35px;
      align-items: center;
    
    }
    
    .menu__list{
      display: flex;
      align-items: center;
      gap: 0 65px;
      margin-right: 40px;
      font-size: 36px;
      font-weight: 700;
      white-space: nowrap;
      color: var(--dark-clr)
    }
    
    .orderhere {
      border: 6px solid var(--white-clr);
      border-radius: 65px;
      padding: 0.5em;
      color: var(--dark-clr);
      background: var(--white-clr);
    }
  
    .telo {
      display: flex;
      justify-content: center;
      height: 85vh;
      background-color:var(--dark-clr);
     }
  
    
    #x {
      position:fixed;
      bottom:0;
      width:12vh;
      height:12vh;
      background-color:#39ed69;
      margin: 20px;
      border-radius: 12vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(images/999.png);
      display: block;
    }
    
    [data-theme="light"] {
      --dark-clr: rgb(255,255,255);
      --white-clr: rgb(0,0,0);
      --otzyv-clr: rgb(100, 126, 186);
      --footer-clr: #ef40ba;
      --events-clr: #443671;
    }
  
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  min-width: 100%;
}

.contacti{
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;

  min-width: 35%;
}

.test{
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  min-width: 65%;
  align-items:center;
  justify-content: center;
  text-align:center;
  display: flex;
}


.kontakt{
  background-color: var(--otzyv-clr);
  border-radius: 65px;
  width: 100%;
  height: 15vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  padding: 15px;
}
.kontakt:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

.kontakt:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

.kontakt:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }


.textikonka{
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  min-width: 75%;

  Color:var(--white-clr);
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.ikonkas{
  background-image: url(https://icons.iconarchive.com/icons/martz90/hex/128/phone-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  min-width: 25%;
}

.ikonkass {
  background-image: url(https://icons.iconarchive.com/icons/froyoshark/enkel/128/Telegram-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  min-width: 25%;
}

.ikonka{
  background-image: url(https://icons.iconarchive.com/icons/papirus-team/papirus-apps/128/vk-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  min-width: 25%;
}

#survey-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white-clr);
  border: 1px solid var(--white-clr);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--dark-clr);
}

#survey-container h1 {
  text-align: center;
  color: var(--dark-clr);
}

.question {
  margin-bottom: 20px;
}

.question label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--dark-clr)
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--dark-clr)
}

.options label {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: var(--dark-clr)
}

.options input {
  margin-right: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: var(--white-clr);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#discount-notification {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffeb3b;
  border: 1px solid var(--white-clr);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}

