* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000px;
	--transition: .75s cubic-bezier(0.105, 0.715, 0.010, 1.000);
}

/* Скрываем Scrollbar */
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}

@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}
body {
	background-color: #000;
	color: #ffffff;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
}
.gallery {
	transform-style: preserve-3d;
	height: 100%;
}

.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;
}
h1, h2, h3, h4 {
	font-size: 48px;
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
	color: #8a2be2;
	-webkit-text-stroke: 1px #ff0000;

}
a {
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
	text-decoration: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.frame h2 {
	text-align: center;
	font-size: calc(var(--index) * 3.3);
}
.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}
.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame_bg {
	background-color: rgb(0 0 0 / .87);
}
video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
	position: relative;
	left: 18vw;
}
.text-left > * {
	position: relative;
	right: 18vw;
}
.frame h3 {
	font-size: calc(var(--index) * 3);
}
.frame p {
	max-width: 30vw;
	margin-top: 3vh;
}
.soundbutton {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: 24px;
	transition: .25s ease;
}
.soundbutton.paused {
	opacity: .25;
}
.button{
	background-color: rgb(10 10 10 / .5);
	font-weight: 300;
	font-family: Arial;
	text-transform: uppercase;
	text-decoration: none;
	font-size: calc(var(--index)* .7);
	letter-spacing: -.02vw;
	padding: calc(var(--index)* 1) calc(var(--index)* 2);
	color: #fff;
	border-radius: 8px ;
	border: #494949 3px solid;
	outline: none;
}
.disc{
	pointer-events: none;
}
#danniy{
	color:aqua;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}
#tripadvisor{
	color: #34E0A1;
	font-weight: 250;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}
#s7airlines{
	color:#C4D600;
	font-weight: 250;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}
#jadina{
	color:#a33510;
	font-weight: 250;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}
#aviasales{
	color:#33c2ff;
	font-weight: 250;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}

.partners{
	font-family:Verdana, Geneva, Tahoma, sans-serif
}