:root{
    --dark-clr: rgb(0,0,0);
    --white-clr: rgb(255,255,255);
    --otzyv-clr: rgb(41, 52, 78);
    --footer-clr: #AD2C86;
    --events-clr: #19142A;
  }
  
  html{
      box-sizing: border-box
    }
    
    *,
    *::after,
    *::before{
      box-sizing: inherit
    }
    
    ::-webkit-scrollbar { /* chrome based */
      width: 0px;  /* ширина scrollbar'a */
      background: transparent;  /* опционально */
    }
    
    html {
      -ms-overflow-style: none;  /* IE 10+ */
      scrollbar-width: none; /* Firefox */
    }
    
    a{
      text-decoration: none;
      color: inherit;
    }
    
    .container{
      max-width: 1920px;
      margin: 0 auto;
    }
    
    body {
      display: block;
      margin: 0px;
    }
    
    ul{
      list-style:none;
    }
    
    .header-line{
      display: flex;
      min-height: 15vh;
      justify-content: space-between;
      align-items: center;
      background-color: blueviolet;
      max-height: 15vh;
    }
    
    .header-logo{
      margin-bottom: 15px;
      margin-top: 15px;
      margin-left: 35px;
      align-items: center;
    
    }
    
    .menu__list{
      display: flex;
      align-items: center;
      gap: 0 65px;
      margin-right: 40px;
      font-size: 36px;
      font-weight: 700;
      white-space: nowrap;
      color: var(--dark-clr)
    }
    
    .orderhere {
      border: 6px solid var(--white-clr);
      border-radius: 65px;
      padding: 0.5em;
      color: var(--dark-clr);
      background: var(--white-clr);
    }
  
    .telo {
      display: flex;
      justify-content: center;
      height: 85vh;
      margin: 0;
      background-color: var(--dark-clr);
      font-family: Arial, sans-serif;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: stretch;
     }
  
    
    #x {
      position:fixed;
      bottom:0;
      width:12vh;
      height:12vh;
      background-color:#39ed69;
      margin: 20px;
      border-radius: 12vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../images/999.png);
      display: block;
    }
    
    [data-theme="light"] {
      --dark-clr: rgb(255,255,255);
      --white-clr: rgb(0,0,0);
      --otzyv-clr: rgb(100, 126, 186);
      --footer-clr: #ef40ba;
      --events-clr: #443671;
    }

    #weather-widget {
      background: var(--white-clr);
      border-radius: 10px;
      box-shadow: 0 0 10px var(--dark-clr);
      padding: 20px;
      text-align: center;
      width: 300px;
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      max-width: 600px;
      max-height: 25vh;
      margin: 25px
  }
  
  #location {
      font-size: 1.5em;
      font-weight: bold;
      color: var(--dark-clr);
  }
  
  #temperature {
      font-size: 2em;
      margin: 10px 0;
      color: var(--dark-clr);
  }
  
  #description {
      font-size: 1.2em;
      color: var(--dark-clr);
  }
  
  #icon {
      font-size: 3em;
  }

  #texts{
    order: 1;
    flex: 1 1 auto;
    align-self: stretch;
    background-color: var(--dark-clr);
    color: var(--white-clr);
    font-size: 26px;
    display: flex;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    align-items: center;
  }
  
