:root{
  --dark-clr: rgb(0,0,0);
  --white-clr: rgb(255,255,255);
  --otzyv-clr: rgb(41, 52, 78);
  --footer-clr: #AD2C86;
  --events-clr: #19142A;
}

html{
    box-sizing: border-box
  }
  
  *,
  *::after,
  *::before{
    box-sizing: inherit
  }
  
  ::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
  }
  
  html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  .container{
    max-width: 1920px;
    margin: 0 auto;
  }
  
  body {
    display: block;
    margin: 0px;
  }
  
  ul{
    list-style:none;
  }
  
  .header-line{
    display: flex;
    min-height: 15vh;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    max-height: 15vh;
  }
  
  .header-logo{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 35px;
    align-items: center;
  
  }
  
  .menu__list{
    display: flex;
    align-items: center;
    gap: 0 65px;
    margin-right: 40px;
    font-size: 36px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--dark-clr)
  }
  
  .orderhere {
    border: 6px solid var(--white-clr);
    border-radius: 65px;
    padding: 0.5em;
    color: var(--dark-clr);
    background: var(--white-clr);
  }

  .telo {
    display: flex;
    justify-content: center;
    height: 85vh;
    background-color:var(--dark-clr);
    display: flex;
    align-items: center;
   }

  
  #x {
    position:fixed;
    bottom:0;
    width:12vh;
    height:12vh;
    background-color:#39ed69;
    margin: 20px;
    border-radius: 12vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/999.png);
    display: block;
  }
  
  [data-theme="light"] {
    --dark-clr: rgb(255,255,255);
    --white-clr: rgb(0,0,0);
    --otzyv-clr: rgb(100, 126, 186);
    --footer-clr: #ef40ba;
    --events-clr: #443671;
  }


  #calculator-container {
    background: var(--white-clr);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--dark-clr);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--dark-clr)
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: var(--dark-clr)
}

select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    color: var(--dark-clr)
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: var(--white-clr)
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}


  