* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}

body {
	background-color: #000;
	color: #ffffff;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}

@font-face {
	font-family: raleway_c;
	src: url(/firstpage/fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(/firstpage/fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}



.flex-container {
    background-color: brown;
	width: 100%;
	height: 100%;
	position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.header {
    -webkit-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    align-self: stretch;
    background-color: blue;
    width: 100%;
	height: 10%;
}

.main{
    -webkit-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    align-self: stretch;
    background-color: red;
    width: 100%;
	height: 90%;
}