:root{
  --dark-clr: rgb(0,0,0);
  --white-clr: rgb(255,255,255);
  --otzyv-clr: rgb(41, 52, 78);
  --footer-clr: #AD2C86;
  --events-clr: #19142A;
}

html{
  box-sizing: border-box
}

*,
*::after,
*::before{
  box-sizing: inherit
}

::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
}

body {
  display: block;
  margin: 0px;
}

ul{
  list-style:none;
}

.header-line{
  display: flex;
  min-height: 15vh;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  max-height: 15vh;
}

.header-logo{
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 35px;
  align-items: center;

}

.menu__list{
  display: flex;
  align-items: center;
  gap: 0 65px;
  margin-right: 40px;
  font-size: 36px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--dark-clr)
}

.orderhere {
  border: 6px solid var(--white-clr);
  border-radius: 65px;
  padding: 0.5em;
  color: var(--dark-clr);
  background:var(--white-clr);
}


.telo {
  display: flex;
  justify-content: center;
  height: 85vh;
  background-color:var(--dark-clr);
 }

 .my-flex-box {
  flex: 0 1 auto;
 }

 .texa {
  margin: 0;
  align-self: stretch;
  padding: auto;
  flex: 0 1 100%;
  color:var(--white-clr);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 72px;
  font-weight: 700px;
  margin-top: 45px;
  margin-left: 30px;
 }

 .pic {
  margin: 0;
  align-self: stretch;
  padding: auto;
  flex: 0 1 100%;
  background-image:url(../images/21.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: center;
 }

 .header-linee{
  display: flex;
  min-height: 15vh;
  align-items: center;
  background-color: var(--otzyv-clr);
  max-height: 15vh;
  justify-content: center;
}

.title1{
  font-size: 24px;
  color: var(--white-clr);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.otzyv{
  margin: 20px;
  align-self: stretch;
  padding: auto;
  flex: 0 1 100%;
  

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #935694;
  border-radius: 45px;
  box-shadow: 10px 5px 5px rgb(30, 2, 63);
}

.aboutirk {
  margin: 20px;
  align-self: stretch;
  padding: auto;
  flex: 0 1 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #7A57CA;
  border-radius: 45px;
  box-shadow: 10px 5px 5px rgb(137, 69, 214);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
 }

.otzyv1, .otzyv2, .otzyv3 {
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  flex: 1 0.5 auto;


  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

#dadab {
  background: linear-gradient(70deg, #511ad0, #951897);
}

.imageinotzyv {
  flex: 0 1 20%;
  background-color: rgb(238, 127, 30);
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.textinotzyv{
  flex: 0 1 80%;
  background-color: rgb(133, 0, 13);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;

  font-size: 28px;
  text-align: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  vertical-align: top;
  color: var(--white-clr);
}

#putin{
  background-image: url(../images/pyupa.png);
}

#tripadvisor {
  background-image: url(../images/trip.png);
}

#bbc {
  background-image: url(../images/bigblacknews.png);
}

.ashka1{
  grid-area: 1 / 1 / 2 / 2;
  text-align:center;
  color:var(--white-clr);
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
}

.pshka1{
  grid-area: 2 / 1 / 3 / 2;
  text-align:center;
  color:var(--white-clr);
  display: flex;
  justify-content: center;
  vertical-align: top;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
}


.header-lineee{
  display: flex;
  min-height: 15vh;
  justify-content: center;
  align-items: center;
  background-color: var(--events-clr);
  max-height: 15vh;
}

.title2{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--dark-clr);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: #D7B4B4;
  border-radius: 50px;
  min-width: 70%;
  font-size: 24px;
  font-weight: 300;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rfcreator{
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  background-color: var(--events-clr);
}

.podtext{
  height: 15vh;
  background-color: var(--events-clr);
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  vertical-align: top;
}

.cards{
  height: 70vh;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.poleskartami{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.karta{
  flex: 0 1 100%;
  align-self: stretch;
  margin: 35px;
  background-color: var(--white-clr);
  justify-content: space-between;

  display: flex;
  flex-flow: column nowrap;
  gap: 5%;
  margin-top: 45px;
  border-radius: 85px;
}

.kartinka{
  height: 50%;
  background-color:#c4c4c4;
  border-radius: 85px;
  margin: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 56px;
  display: flex;
  justify-content: center;
  vertical-align: top;
}

.price{
  height: 35%;
  background-color:rgb(255, 0, 0);
  border-radius: 85px;
  margin: 15px;
  font-size: 38px;
  text-align: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  vertical-align: top;
}

.rabota{
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-clr);
  padding: 40px;
  height: 100vh;
}

.pikcha{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.textfo{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.RABotat{
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footerheader{
  grid-area: 1 / 1 / 2 / 2;
  text-align:center;
  color:var(--white-clr);
  display: flex;
  justify-content: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.listf{
  grid-area: 2 / 1 / 3 / 2;
}

.kostyl{
  color:var(--white-clr);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  text-align:center;
  margin: 5vh;
}

.pustota{
  width: 100%;
}

.buttonwork{
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--white-clr);
  border-radius: 25px;
  font-size: 38px;
  color:var(--dark-clr);
  text-align: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.evreyka {
   grid-area: 1 / 1 / 3 / 3;
   background-image: url(../images/evreyka.png);
   background-repeat: no-repeat;
   background-size: cover;
   border-top-left-radius: 25px;
   max-width:100%;
   height:auto;
}
.mujik { 
  grid-area: 3 / 3 / 5 / 5; 
  background-image: url(../images/mujik.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 25px;
  max-width:100%;
  height:auto;
}
.babka { 
  grid-area: 2 / 3 / 3 / 4; 
  background-image: url(../images/babka.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 25px;
  max-width:100%;
  height:auto;
}
.devochka { 
  grid-area: 3 / 2 / 4 / 3;
  background-image: url(../images/devochka.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 25px;
  max-width:100%;
  height:auto;
}

#remove-block-button{
  background-color: var(--white-clr);
  border-radius: 35px;
  font-size: 20px;
  padding: 20px;
  color: var(--dark-clr)
}

#x {
  position:fixed;
  bottom:0;
  width:12vh;
  height:12vh;
  background-color:#39ed69;
  margin: 20px;
  border-radius: 12vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/999.png);
  display: block;
}

[data-theme="light"] {
  --dark-clr: rgb(255,255,255);
  --white-clr: rgb(0,0,0);
  --otzyv-clr: rgb(100, 126, 186);
  --footer-clr: #ef40ba;
  --events-clr: #443671;
}


