:root{
    --dark-clr: rgb(0,0,0);
    --white-clr: rgb(255,255,255);
    --otzyv-clr: rgb(41, 52, 78);
    --footer-clr: #AD2C86;
    --events-clr: #19142A;
  }
  
  html{
      box-sizing: border-box
    }
    
    *,
    *::after,
    *::before{
      box-sizing: inherit
    }
    
    ::-webkit-scrollbar { /* chrome based */
      width: 0px;  /* ширина scrollbar'a */
      background: transparent;  /* опционально */
    }
    
    html {
      -ms-overflow-style: none;  /* IE 10+ */
      scrollbar-width: none; /* Firefox */
    }
    
    a{
      text-decoration: none;
      color: inherit;
    }
    
    .container{
      max-width: 1920px;
      margin: 0 auto;
    }
    
    body {
      display: block;
      margin: 0px;
    }
    
    ul{
      list-style:none;
    }
    
    .header-line{
      display: flex;
      min-height: 15vh;
      justify-content: space-between;
      align-items: center;
      background-color: blueviolet;
      max-height: 15vh;
    }
    
    .header-logo{
      margin-bottom: 15px;
      margin-top: 15px;
      margin-left: 35px;
      align-items: center;
    
    }
    
    .menu__list{
      display: flex;
      align-items: center;
      gap: 0 65px;
      margin-right: 40px;
      font-size: 36px;
      font-weight: 700;
      white-space: nowrap;
      color: var(--dark-clr)
    }
    
    .orderhere {
      border: 6px solid var(--white-clr);
      border-radius: 65px;
      padding: 0.5em;
      color: var(--dark-clr);
      background: var(--white-clr);
    }
  
    .telo {
      display: flex;
      justify-content: center;
      height: 85vh;
      background-color:var(--dark-clr);
     }
  
    
    #x {
      position:fixed;
      bottom:0;
      width:12vh;
      height:12vh;
      background-color:#39ed69;
      margin: 20px;
      border-radius: 12vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../images/999.png);
      display: block;
    }
    
    [data-theme="light"] {
      --dark-clr: rgb(255,255,255);
      --white-clr: rgb(0,0,0);
      --otzyv-clr: rgb(100, 126, 186);
      --footer-clr: #ef40ba;
      --events-clr: #443671;
    }


.setka {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width:100%;
}

.yandex{
  grid-area: 2 / 1 / 3 / 2;
  color: var(--dark-clr);
  font-size: 26px;
  vertical-align: middle;
  display: flex;
  text-align:center;
  justify-content: center;
  margin: 20px;
  border-radius: 65px;
  background-color: var(--white-clr);
  height: 15vh;
}

.yandexpic{
  grid-area: 1 / 1 / 2 / 2;
  background-image: url(../images/yandax.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}


.afisha{
  grid-area: 2 / 2 / 3 / 3;
  color: var(--dark-clr);
  font-size: 26px;
  vertical-align: middle;
  display: flex;
  text-align:center;
  justify-content: center;
  margin: 20px;
  border-radius: 65px;
  background-color: var(--white-clr);
  height: 15vh;
}

.afishapic{
  grid-area: 1 / 2 / 2 / 3;
  background-image: url(../images/afisha.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}

.tvoyirk {
  grid-area: 2 / 3 / 3 / 4;
  color: var(--dark-clr);
  font-size: 26px;
  vertical-align: middle;
  display: flex;
  text-align:center;
  justify-content: center;
  margin: 20px;
  border-radius: 65px;
  background-color: var(--white-clr);
  height: 15vh;
}

.tvoyirkpic {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url(../images/tvoyirk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}

    